:root {
  --prime: #00cf5d;
  --bg: #111a28;
  --testsolid: #ffffff;
  --darkbg: #1d293a;
  --textlight: #acafb4;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--bg);
}

/* navigationBar */
header {
  max-width: 100%;
  height: 90px;
  background-color: var(--bg);
  box-sizing: border-box;
  transition: 0.6s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding-right: 148px;
  padding-left: 200px;
}

.logo {
  margin-top: 20px;
  transition: 0.6s;
}

header ul {
  float: right;
  margin-left: 540px;
  color: var(--testsolid);
  box-sizing: border-box;
  transition: 0.6s;
}

header ul li {
  list-style: none;
  margin: 25px 20px 0px;
  display: inline-block;
  cursor: pointer;
  transition: 0.6s;
}
header ul li a {
  color: var(--testsolid);
  cursor: pointer;
  transition: 0.6s;
  text-decoration: none;
}

.active {
  border: 2px solid var(--prime);
  border-radius: 5px;
  padding: 8px 20px;
}
/* scorll navigation at time */
.sticky {
  background-color: var(--darkbg);
}

/* welcome */
.welcome {
  display: grid;
  grid-template-areas: "sidebar center center center center ";
  margin-top: 90px;
  margin-bottom: 350px;
}

.sidecontainer {
  grid-area: sidebar;
  display: grid;
  grid-template-areas:
    "github"
    "twitter"
    "linkedin"
    "followline"
    "followme";
  padding-left: 85px;
}

.github {
  grid-area: github;
  margin-bottom: 20px;
}

.twitter {
  grid-area: twitter;
  margin-bottom: 20px;
}

.linkedin {
  grid-area: linkedin;
  margin-bottom: 20px;
}

.followline {
  grid-area: followline;
  border: var(--testsolid) solid 1px;
  height: 50px;
  width: 0px;
  margin-left: 6px;
  background-color: var(--testsolid);
  position: relative;
}

.followme {
  grid-area: followme;
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 112px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(-90deg);
  margin-top: 330px;
  margin-left: -62px;
  position: absolute;
}

.centerconainer {
  grid-area: center;
  margin-left: -15px;
  margin-top: 50px;
}

.centerconainer .w1 {
  color: var(--prime);
  font-size: 25px;
  font-weight: bold;
}

.centerconainer .w2 {
  color: var(--testsolid);
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
}

.centerconainer .w3 {
  color: var(--prime);
  font-size: 30px;
  font-weight: bold;
}

.centerconainer ul {
  list-style-type: none;
  color: var(--testsolid);
  font-size: 20px;
}

.centerconainer ul .web {
  display: inline;
  margin-right: 5px;
}

.centerconainer ul .rou {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--prime);
  border-radius: 100px;
}

.centerconainer ul .programmer {
  margin-right: 5px;
  display: inline;
}

.centerconainer ul .webde {
  margin-right: 5px;
  display: inline;
}

.centerconainer .buttonwel {
  padding-top: 30px;
}

.centerconainer .buttonwel .getresume {
  color: var(--testsolid);
  font-size: 18px;
  background-color: var(--prime);
  width: 150px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.centerconainer .buttonwel .aboutmebtn {
  color: var(--testsolid);
  font-size: 18px;
  background-color: var(--bg);
  border: 2px solid var(--prime);
  width: 130px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

/* about me */

.aboutme {
  display: grid;
  grid-template-areas: "left left center right ";
  margin-bottom: 200px;
}

.aboutleft {
  grid-area: left;
  margin-left: 180px;
}

.aboutinfo {
  font-size: 20px;
  color: var(--testsolid);
  width: 43%;
  margin-bottom: 80px;
}

.aboutbtn {
  display: inline;
}

.aboutgetresume {
  color: var(--testsolid);
  font-size: 18px;
  background-color: var(--prime);
  width: 150px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.aboutmyskill {
  color: var(--testsolid);
  font-size: 18px;
  border: 2px solid var(--prime);
  background-color: var(--bg);
  width: 130px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.aboutcenter {
  grid-area: center;
  position: absolute;
  margin-left: 850px;
}

.aboutcenter img {
  border-radius: 10px;
  filter: grayscale(50%);
  transition: 1.2s;
}

.aboutcenter img:hover {
  filter: grayscale(0%);
  filter: contrast(120%) 3s;
  transform: scale(1.05, 1.05);
}

.aboutright {
  grid-area: right;
  margin-right: 140px;
}

.aboutmeside {
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(90deg);
  margin-top: 0px;
  margin-right: -200px;
  position: relative;
}

.aboutline {
  border: var(--testsolid) solid 1px;
  height: 100px;
  width: 0px;
  margin-left: 60px;
  margin-top: 46px;
  background-color: var(--testsolid);
  position: absolute;
}

/* my skills */
.myskills {
  display: grid;
  grid-template-areas: "skillleft rightskill rightskill rightskill rightskill";
  margin-bottom: 400px;
}

.leftskill {
  grid-area: skillleft;
  padding-left: 85px;
}

.skillline {
  border: var(--testsolid) solid 1px;
  height: 100px;
  width: 0px;
  margin-left: 6px;
  background-color: var(--testsolid);
}

.skillside {
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 90px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(-90deg);
  margin-top: 40px;
  margin-left: -51px;
}

.rightskill {
  grid-area: rightskill;
  margin-left: -160px;
  margin-top: 60px;
}

.containerskills {
  position: absolute;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "con1 con2"
    "con3 con4"
    "con5 con5";
}

.conbg {
  background-color: var(--darkbg);
  height: 90px;
  width: 500px;
  border-radius: 5px;
  margin: 15px;
}

.con1 {
  grid-area: con1;
}

.html {
  float: left;
  color: var(--testsolid);
  padding-top: 25px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.htmlscore {
  float: right;
  color: var(--testsolid);
  margin-top: 20px;
  margin-right: 20px;
  display: inline;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--prime);
  border-radius: 3px;
  padding: 5px 4px;
  text-align: center;
}

.htmlprocess {
  border: 5px solid var(--prime);
  border-radius: 5px;
  width: 90%;
  margin-top: 80px;
  background-color: var(--prime);
}

.con2 {
  grid-area: con2;
}

.cssprocess {
  width: 80%;
}

.con3 {
  grid-area: con3;
}

.jspro {
  width: 70%;
}

.con4 {
  grid-area: con4;
}

.phppro {
  width: 70%;
}

.con5 {
  grid-area: con5;
}

.mysql {
  width: 85%;
}

/* lovetodo */
.lovetodo {
  display: grid;
  grid-template-areas: "hobby1 hobby2 hobby3 ltd ";
  margin-bottom: 200px;
  margin-left: 200px;
}

.hobbybg {
  background-color: var(--darkbg);
  max-width: 230px;
  height: 200px;
  border-radius: 5px;
  margin: 0px 90px;
}

.hobby1 {
  grid-area: hobby1;
}

.hobbyimg {
  padding-top: 20px;
  padding-left: 20px;
}

.hobbytext {
  padding-left: 30px;
  padding-bottom: 30px;
  color: var(--prime);
  font-weight: bold;
  font-size: 20px;
}

.hobby2 {
  grid-area: hobby2;
}

.hobbytry {
  padding-top: 28px;
}

.hobby3 {
  grid-area: hobby3;
}

.ltdside {
  grid-area: ltd;
}

.ltdline {
  border: var(--testsolid) solid 1px;
  height: 100px;
  width: 0px;
  margin-left: 63px;
  margin-top: 81px;
  background-color: var(--testsolid);
  position: absolute;
}

.ltdsidetext {
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(90deg);
  margin-top: 0px;
  margin-right: -48px;
  position: relative;
}

/* portfolio */

.portfolio {
  display: grid;
  grid-template-areas:
    "ps project project project project"
    "btnmore btnmore btnmore btnmore btnmore";
  margin-bottom: 200px;
}

.portfolioside {
  grid-area: ps;
}

.portsideline {
  border: var(--testsolid) solid 1px;
  height: 100px;
  width: 0px;
  margin-left: 100px;
  background-color: var(--testsolid);
  margin-top: -100px;
}

.portsidetext {
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(-90deg);
  margin-top: 40px;
  margin-left: 38px;
}

.portfolioprojects {
  grid-area: project;
  display: grid;
  grid-template-areas: "p1 p2 p3";
  margin-left: -30px;
}

.projectbg {
  color: var(--testsolid);
  background-color: var(--darkbg);
  border-radius: 5px;
  width: 300px;
  height: 400px;
}

.project1 {
  grid-area: p1;
  margin: 10px 0px 10px 0px;
  transition: 1.2s;
}

.projectimg1 {
  border-radius: 5px;
  filter: grayscale(100%);
  transition: 2s;
}

.projectimg1:hover {
  filter: grayscale(0%);
  filter: contrast(120%) 2s;
}

.projecttitle1 {
  margin: 10px;
  font-size: x-large;
  font-weight: bold;
}

.projectdesc1 {
  margin: 10px;
  font-size: large;
  font-weight: 200;
}

.project2 {
  grid-area: p2;
  margin: 10px -170px 10px -170px;
}

.project3 {
  grid-area: p3;
  margin: 10px 0px 10px -40px;
}

.btnmore {
  grid-area: btnmore;
  grid-column-start: 3;
  grid-column-end: 4;
  padding-left: 160px;
  margin-bottom: 10px;
}

.buttonmore {
  border: 2px solid var(--prime);
  border-radius: 5px;
  color: var(--testsolid);
  background-color: var(--bg);
  margin: 10px 10px 10px 10px;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
}

/* contact */

.contact {
  display: grid;
  grid-template-areas: "cleft cleft ccenter ccenter cright";
  margin-bottom: 100px;
}

.contactleft {
  grid-area: cleft;
  margin-left: 200px;
  margin-right: 470px;
  margin-top: 10px;
}

.con_info p {
  color: var(--testsolid);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.contactme {
  color: var(--testsolid);
  background-color: var(--prime);
  margin-top: 20px;
  border-radius: 5px;
  font-size: larger;
  font-weight: 500;
  padding: 14px 28px;
}

.contactcenter {
  grid-area: ccenter;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: 140px;
}

.conhand1 {
  color: var(--testsolid);
  font-size: 30px;
  font-weight: bold;
}

.solidtext1 {
  display: inline;
  color: var(--testsolid);
  font-weight: 500;
  font-size: 17px;
}

.lighttext1 {
  display: inline;
  color: var(--textlight);
  font-size: 17px;
}

.con2 {
  margin-top: 10px;
}

.con3 {
  margin-top: 10px;
}

.con4 {
  margin-top: 10px;
}

.contactright {
  grid-area: cright;
}

.con_line {
  border: var(--testsolid) solid 1px;
  height: 100px;
  width: 0px;
  margin-left: 63px;
  margin-top: 81px;
  background-color: var(--testsolid);
  position: absolute;
}

.con_text {
  background-color: var(--darkbg);
  border: var(--darkbg) solid 3px;
  border-radius: 5px;
  font-size: 20px;
  width: 100px;
  padding: 1px 10px;
  color: var(--testsolid);
  transform: rotate(90deg);
  margin-top: 0px;
  margin-right: 20px;
  position: relative;
}

/* footer */

footer {
  background-color: var(--darkbg);
  display: grid;
  grid-template-areas: "lend rend";
  height: 120px;
}

.leftend {
  grid-area: lend;
  padding-top: 40px;
  margin-left: 170px;
  position: absolute;
}

.thankbg {
  background-color: var(--bg);
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
}

.thnktext {
  font-size: 20px;
  font-weight: bold;
  color: var(--testsolid);
  text-align: center;
}

.thnkline {
  border: 2px solid var(--prime);
  background-color: var(--prime);
  border-radius: 5px;
  width: 90%;
  margin-left: 1px;
  margin-bottom: 1px;
}

.thank {
  display: inline-block;
}

.thankhindi {
  display: inline-block;
}

.thankgujarati {
  display: inline-block;
}

.rightend {
  grid-area: rend;
}

.byme {
  position: absolute;
  margin-left: 300px;
  margin-top: 50px;
}

.bymetext {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--testsolid);
  margin-right: 15px;
}

.bymeimagebg {
  display: inline-block;
  background-color: var(--prime);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: -6px;
}

.bymeimagebg img {
  margin-top: 5px;
  margin-left: 5px;
}
